@import "tailwindcss";

/* Backup: If Tailwind fails, this forces dark mode so it doesn't look 'dumb' */
:root {
  background: #020617;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: #020617;
}
